.mainHeader {
    text-align: center;
}
.skills {
    background-color: #1f2235;
    padding: 100px ;
}
.progress-bar-danger {
    background-color: #ee3f4a;
}

.skill_text, span {
    color: #ffffff;
}
 
small {
    float: right;
}

.progress {
    margin-bottom: 18px;
}

@media (max-width: 767px) { 
    .skills {
        padding: 50px ;
        padding-left: 15px;
    }

    .skills_animate {
        padding-right: 20px;
    }
}