.image {
    display: block;
    background-image: url('../../../public/images/dp.png');
    padding-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #123344;
}
/* .big {
    
} */
.contact-section {
    background-color: #1f2235;
    padding: 100px;
    padding-top: 80px;
}

.big {
    color: white;
    text-align: center;
    width: 100%;
    /* padding-bottom: 50px; */
}

@media (max-width: 767px) { 
    .image {
        visibility:hidden;
    }
    .big {
        padding-bottom: 0px;
        text-align: center;
    }
    .contact-section {
        padding: 30px;
        padding-top: 50px;
        padding-right: 60px;
    }

    .big {
        font-size: 34px;
        /* padding-bottom: 30px; */
        width: 100%;
        padding-left: 20px;
    }
    
    
}