.image {
    background-image: url('../../../public/images/dp.png');
    padding-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #123344;
}
.big {
    color: white;
}
.contact-section {
    background-color: #1f2235;
    padding: 100px;
    padding-top: 80px;
}

.big {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}

@media (max-width: 767px) { 
    .contact-section {
        padding: 30px;
        padding-top: 50px;
        padding-right: 60px;
    }

    .big {
        font-size: 36px;
        /* padding-bottom: 30px; */
        padding-left: 20px;
    }
    
    
}