.btn-outline {
    margin-right: 20px;
    text-align: center
}

.banner__img {
    background-image: url('../../../public/images/dp_low.png');
    width: auto;
    height: 500px;
}

@media (max-width: 767px) { 
    .header__section {
      padding-top: 70px;
      
    }
    .banner__img {
        display: none ;
    }
    .header {
        width: 100vw;
    }
}